# File format: 
# appname|x,y,width,height|delay till app becomes responsive(sec)|new cmd shell?|arg1|arg2|argn
#
# new cmd shell - needs to be true for example if you want to run .bat files that should run in separate cmd window
#
# if x,y,width,height are all set to 0, than window will not be moved
# 
# If you don't move the windows you can set delay to something very low, but some applications break (like firefox)

#Example of line with all filled in, and 1 parameter
C:\Windows\explorer.exe|100,100,900,700|1|False|C:\Users

#Example of line with all filled in, and 1 parameter, without moving the window. If you have firefox already launched this should open a new tab
C:\Program Files\Mozilla Firefox\firefox.exe|0,0,0,0|1|False|https://google.com
C:\Program Files\Mozilla Firefox\firefox.exe|0,0,0,0|2|False|https://bing.com

#Example of line with all filled in, and no params 
C:\Windows\explorer.exe|500,300,900,700|1|